*{
    box-sizing: border-box;
}
ul{
    padding: 0;
}
button{
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
body{
    background-color: #ffe9ba;
    text-align: center;
}
.list{
    width: 400px;
    margin: auto;
    background-color: #fff4e6;
    border-radius: 20px;
    box-shadow: 16px 20px 28px 1px rgba(0,0,0,0.57);
    -webkit-box-shadow: 16px 20px 28px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 16px 20px 28px 1px rgba(0,0,0,0.57);
}
.header{
    height: 48px;
    padding: 8px;
    font-size: 24px;
    background: rgb(215,228,193);
    background: linear-gradient(90deg, rgba(215,228,193,1) 0%, rgba(214,209,174,1) 39%, rgba(255,233,186,1) 71%, rgba(244,183,122,1) 100%);
    border-radius: 20px 20px 0 0;
    color: white;
}
.items{
    height: 500px;
    overflow-y: auto;
}
.item{
    display: flex;
    justify-content: space-between;
    padding: 7px 32px;
}
.item_delete{
    transition: all 300ms ease-in;
    transform: scale(1.1);
    font-size: 16px;
}
.item_delete:hover{
    color: red;
}

.item_divider{
    width: 90%;
    height: 1px;
    background-color: lightgray;
    margin: auto;
}
.footer{
    background: rgb(215,228,193);
    background: linear-gradient(90deg, rgba(215,228,193,1) 0%, rgba(214,209,174,1) 39%, rgba(255,233,186,1) 71%, rgba(244,183,122,1) 100%);
    border-radius: 0 0 20px 20px;
}
.footer_input{
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0 16px;
}
.footer_button{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    transition: transform 300ms ease-in;
}
.footer_button:hover{
    transform: scale(1.1);

}